@import "variables";

.header {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: top;
  height: 100vh;
  padding-top: 30px;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    z-index: 1;
  }

  @media (max-width:768px){
    height: auto;
  }
}

.header-brand-nav-container{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  position: relative;
  z-index: 2;

  p{
    position: relative;
    z-index: 2;
  }

  .header-brand-description{
    margin-top: 5px;
  }
  
  .header-nav-container{
    position: relative;
  }

  .header-nav-hamburger-menu{
    display: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: $color-white;
    color: $color-beige;
    border-radius: 20%;
    position: relative;

    @media (max-width:768px){
      display: block;
      transition: all 0,3s;

      &:active{
        scale: 80%;
      }
    }
  }

  .header-nav{
    display: flex;
    gap: 20px;

    a{
      cursor: pointer;

      &::after{
        display: block;
        content: "";
        width: 100%;
        background-color: $color-beige;
        height: 3px;
        margin-top: 5px;
        scale: 0;
        transition: scale 0.3s;
      }

      &:hover::after{
        scale: 1;
      }
    }
    @media (max-width: 768px){
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      a::after{
        display: none;
      }

      &.active {
        display: flex;
      }
    }
  }
}

.header-content-container{
  padding-top: 100px;

  .header-h1-container{
    width: 100%;
    padding-left: 20%;

    ::after{
      content: '';
      position: absolute;
      left: 37%;
      top: 120%;
      height: 5px;
      width: 200px;
      background-color: $color-beige;
      transform: translateX(-50%);
    }

    h1{
      position: relative;
      z-index: 2;
    }

    .header-span-h1{
      display: block;
      padding-left: 13%;
      margin-top: -10px;
    }
  }

  @media (max-width: 768px){
    .header-content-container{
      padding-top: 50px;
    }
  }
}

.header-discover-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14%;

  .header-discover-button{
    display: block;
    margin-top: 3%;
    background-color: transparent;
    border: none;

    i{
      color: $color-white;
      font-size: 33px;
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: all 0.3s;
    }

    i:hover{
      border: 3px solid $color-beige;
      border-radius: 50%;
    }
  }
}

.home-products-h2-container{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 50px 0 80px 0;
  z-index: 2;

  @media (max-width: 768px){
    margin: 15px 0 35px 0;
  }

  &::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 120%;
    height: 4px;
    width: 600px;
    background-color: $color-beige;
    transform: translateX(-50%);

    @media (max-width: 768px){
      width: 120px;
    }
  }
}
